/* Light theme colors */
:root {
    --bg-color: rgb(235, 235, 235);
    --bg-color-tp: rgba(245, 245, 245, 0.25);
    --passive-color: rgb(25, 25, 25);
    --active-color: rgb(242, 137, 0);
    --text-color: black;
}
/* Dark theme colors */
[data-theme='dark'] {
    --bg-color: rgb(25, 25, 25);
    --bg-color-tp: rgba(25, 25, 25, 0.25);
    --passive-color: rgb(235, 235, 235);
    --active-color: rgb(242, 137, 0);
    --text-color: white
}

body {
    display: flex; flex-direction: column;
    margin: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: var(--passive-color); background-color: var(--bg-color);

    transition-property: background-color, color;
    transition-duration: 0.4s;
}

/* Custom cursor */
#custom-cursor {
    pointer-events: none;   /* Ignores clicks */
    position: fixed;    /* Fixes custom cursor to default cursor */
    width: 1rem; height: 1rem;
    border: 2px dotted rgba(0, 0, 0 ,0.5);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255 ,0.1);
    -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);   /* Centers custom cursor around default cursor */
    z-index: 100;   /* Above everything */
    /* Left and top delay smoothes movement */
    transition: all 0.4s ease, left 0.025s ease, top 0.025s ease;
}
#custom-cursor.pointer {
    width: 1.5rem;
    border: 2px solid rgba(255, 255, 255 ,1);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    -webkit-backdrop-filter: blur(0); backdrop-filter: blur(0);
}
#custom-cursor.text {
    border: 2px solid rgba(255, 255, 255, 1);
    width: 0.2rem;
}

/* Section */
.section {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    min-height: 100vh; box-sizing: border-box;
    gap: 2rem; padding-block: 3rem;

    border-bottom: 1px dashed var(--passive-color);
}
.section-title {
    font-size: 2.5rem; font-weight: 600;
}

/* Section Details */
.details {
    display: flex; flex-direction: row;
    gap: 1rem;
}

.container {
    display: flex; flex-direction: column;
    justify-content: start; align-items: center;
    padding: 1rem; gap: 1rem;
    border: 1px dashed var(--passive-color);
    border-radius: 2rem;

    transition-property: transform, box-shadow, border-style, background-color;
    transition-duration: 0.4s;
}
.container:hover {
    transform: scale(1.01);
    background-color: var(--active-color);
    border-style: solid;
    box-shadow: 0 0 10px var(--passive-color);
}
.container-row {
    display: flex; flex-direction: row;
}

.title {
    font-size: 2rem;
}
.subtitle {
    font-size: 1.1rem; font-weight: 500;
}

/* Buttons */
.btn {
    cursor: none;   /* Prevents cursor from appearing on buttons */
    padding: 1rem;
    background-color: var(--passive-color);
    color: var(--active-color);
    border: 1px dashed var(--passive-color);
    border-radius: 0.5rem;
    font-family: inherit;

    transition-property: transform, background-color, color, box-shadow;
    transition-duration: 0.4s;
}
.btn:hover {
    transform: scale(1.05);
    background-color: var(--active-color);
    color: var(--bg-color);
    box-shadow: 0 0 5px var(--active-color);
}

/* Images */
.image {
    width: 40%; height: auto;
    border: 1px solid var(--passive-color);
    border-radius: 0.5rem;
}

/* NAVIGATION BAR */
#navbar {
    display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;
    box-sizing: border-box;
    width: 100%; max-height: fit-content; 
    padding-inline: 5rem; padding-block: 0.5rem;
    position: fixed; z-index: 5;
    white-space: nowrap;
    
    border-bottom: 1px dashed var(--passive-color);
    -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px);
    background-color: var(--bg-color-tp);
}

#title {
    font-size: 2rem;
}

#nav-btns {
    display: flex; flex-direction: row;
    gap: 1rem;
}
.nav-btn {
    background-color: var(--bg-color-tp);
    color: var(--passive-color);
}

/* HOME SECTION */
#home-container {
    display: flex; flex-direction: column;
    background-color: var(--passive-colorest);
}
.portrait {
    max-width: 20rem; height: auto;
    border: 1px solid var(--passive-color);
    border-radius: 1rem;
}

/* ABOUT SECTION */
#about-section {
    display: flex; flex-direction: column;
    color: var(--passive-colorest);
}
#about-details {
    border: 1px dashed var(--passive-color);
    border-radius: 2rem;
    padding: 1rem;
    
    transition-property: transform, border-style, box-shadow;
    transition-duration: 0.4s;
}
#about-details:hover {
    transform: scale(1.01);
    border-style: solid;
    box-shadow: 0 0 10px var(--passive-color);
}
#about-col-1 {
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    gap: 1rem;
}
#about-col-2{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    max-width: 30rem;
}
#logos {
    display: flex; flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap; gap: 1rem;
}
.logo {
    cursor: none;
    fill: var(--passive-color);
    width: 2rem; height: 2rem;

    transition-property: transform, fill;
    transition-duration: 0.4s;
}
.logo:hover {
    transform: scale(1.1);
    fill: var(--active-color);
}

/* SKILLS SECTION */
#skills-section {
    display: flex; flex-direction: column;
}
#skills-details {
    display: flex; flex-direction: row;
    gap: 1rem;
}

/* PROJECTS SECTION */
#projects-details {
    display: flex; flex-direction: row;
    gap: 1rem;
}

.project-card {
    display: flex; flex-direction: row;
    max-width: 35rem;
    padding: 1rem; gap: 1rem;
    border: 1px dashed var(--passive-color);
    border-radius: 1rem;

    transition-property: transform, border-style, background-color, box-shadow;
    transition-duration: 0.4s;
}
.project-card:hover {
    transform: scale(1.01);
    border-style: solid;
    background-color: var(--passive-color);
    color: var(--bg-color);
    box-shadow: 0 0 5px var(--passive-color);
}

/* EXPERIENCE SECTION */
#exp-section {
    padding-inline: 1rem;
}
#exp-details {
    display: flex; flex-direction: row;
    gap: 1rem;
}

/* CONTACT SECTION */
#contact-section {
    
}

#footer-section {
    display: flex; justify-content: center;
    height: auto;
}