@media (max-width: 768px) {
    .section {
        padding-inline: 1rem;
        padding-top: 8rem;
    }

    #navbar {
        flex-direction: column;
    }
    #nav-btns {
        gap: 0.5rem;
    }
    .nav-btn {
        padding: 0.5rem;
    }

    #about-details {
        flex-direction: column;
    }

    #skills-details {
        flex-direction: column;
    }

    #projects-details {
        flex-direction: column;
    }

    #exp-details {
        flex-direction: column;
    }

    #footer-section {
        text-align: center;
        padding-inline: 1rem;
    }
}