/* Light theme colors */
:root {
    --active-color: rgb(235, 235, 235);
    --active-color-tp: rgba(245, 245, 245, 0.25);
    --passive-color: rgb(25, 25, 25);
    --accent-color: rgba(72, 0, 255, 0.85);
    --text-color: black;
}
/* Dark theme colors */
[data-theme='dark'] {
    --active-color: rgb(25, 25, 25);
    --active-color-tp: rgba(25, 25, 25, 0.25);
    --passive-color: rgb(235, 235, 235);
    --accent-color: rgba(72, 0, 255, 0.8);
    --text-color: white
}

/* NAVIGATION BAR */
#navbar {
    display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;
    box-sizing: border-box;
    width: 100%; max-height: fit-content; 
    padding-inline: 5rem; padding-block: 0.5rem;
    position: fixed; z-index: 5;
    white-space: nowrap;
    
    border-bottom: 1px dashed var(--passive-color);
    -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px);
    background-color: var(--active-color-tp);
}

#title {
    font-size: 2rem;
    background-color: transparent;
    padding-inline: 0.5rem;
    border: 1px solid none;
    border-radius: 0.5rem;
    transition-property: background-color, box-shadow, transform, border, color;
    transition-duration: 0.4s;
}
#title:hover {
    transform: scale(1.05);
    border: 1px dashed var(--passive-color);
    background-color: var(--accent-color);
    color: var(--active-color);
    box-shadow: 0 0 5px var(--accent-color);
    
}

#nav-btns {
    display: flex; flex-direction: row;
    gap: 1rem;
}
.nav-btn {
    background-color: var(--active-color-tp);
    color: var(--passive-color);
}

/* ABOUT SECTION */
#about-section {
    display: flex; flex-direction: column;
    color: var(--passive-color);
    padding-top: 9rem;
}
#about-details {
    border: 1px solid var(--passive-color);
    border-radius: 2rem;
    padding: 1rem;
    
    transition-property: transform, border-style, box-shadow, background-color, color;
    transition-duration: 0.4s;
}
#about-details:hover {
    transform: scale(1.01);
    background-color: var(--accent-color);
    color: white;
    border-style: solid;
    box-shadow: 0 0 10px var(--passive-color);
}
#about-col-1 {
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    gap: 1rem;
}
#about-col-2{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    max-width: 30rem;
}
.portrait {
    max-width: 20rem; height: auto;
    border: 1px solid var(--passive-color);
    border-radius: 1rem;
}
#logos {
    display: flex; flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap; gap: 1rem;
}

/* SKILLS SECTION */
#skills-section {
    display: flex; flex-direction: column;
}
#skills-details {
    display: flex; flex-direction: row;
    gap: 1rem;
}

/* PROJECTS SECTION */
#projects-details {
    display: flex; flex-direction: row;
    gap: 1rem;
}

.project-card {
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    
    max-width: 35rem;
    padding: 1rem; gap: 1rem;
    border: 1px dashed var(--passive-color);
    border-radius: 1rem;

    transition-property: transform, border-style, background-color, box-shadow, color;
    transition-duration: 0.4s;
}
.project-card:hover {
    transform: scale(1.01);
    border-style: solid;
    background-color: var(--passive-color);
    color: var(--active-color);
    box-shadow: 0 0 5px var(--passive-color);
}
.project-title {
    cursor: none;
    text-decoration: none; color: inherit;
    padding: 0.5rem;
    font-weight: 600;
    border: 1px solid var(--active-color);
    border-radius: 0.5rem;
    transition-property: background-color, transform;
    transition-duration: 0.4s;
}
.project-title:hover {
    transform: scale(1.2);
    background-color: var(--accent-color);
}

/* EXPERIENCE SECTION */
#exp-section {
    padding-inline: 1rem;
}
#exp-details {
    display: flex; flex-direction: row;
    gap: 1rem;
}

/* CONTACT SECTION */
#contact-section {
    
}

#footer-section {
    display: flex; justify-content: center;
    height: auto;
}